h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
form li {
  list-style: none;
  margin-bottom: 5px;
  margin-left: 33%;
}

form ul li label {
  float: left;
  clear: left;
  width: 100px;
  text-align: left;
  margin-right: 10px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
}

form ul li input,
select,
span {
  float: none;
  margin-bottom: 10px;
}

form textarea {
  float: left;
  width: 350px;
  height: 150px;
}

[type="submit"] {
  clear: none;
  margin: 20px 500px 0 250px;
  font-size: 18px;
}

p {
  margin-left: 70px;
  font-weight: bold;
}
